
* {margin: 0; padding: 0; outline: 0;}
ul {list-style: none;}
a {text-decoration: none;}

/* font-family: 'Nanum Pen Script', cursive; */

body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #e5e5e5;
	font-size: 12px;
	background:#bfbfbf;
	font-family: 'Nanum Pen Script', cursive;	
	background-color: #fff;
}

/* 메인 슬라이드 */
.section.sTop {padding: 0;}
#container {height: 500px;}
.section.sTop.wrap ul {display: flex;}
.section.sTop.wrap ul li {width: 1800px; height: 500px; position: relative;}
.section.sTop.wrap ul li img {width: 100%; position: absolute; left: 0; bottom: 0;}

/* 어바웃 */
.center {width: 900px; position: relative; overflow: hidden;
	margin-left: 20px;}
.about {width: 1800px; height: 400px; position: relative; overflow: hidden;}
.item {width: 300px; height: 350px; float: left;} 
.item img {width: 100%; height: 100%; object-fit: cover;}

.inner p{margin-bottom: 30px;}
.inner a {font-family: 'Nanum Pen Script', cursive;
			font-size: 20px;}
.btn {text-align: center;}
button {width: 50px; height: 50px; cursor: pointer; 
		background-color: #912613; color: #fff;}





/* 음식 소개 */

.popup_btn {width: 90px; height: 50px; background-color: rgba(0,0,0,.1); position: absolute; margin-top: 300px;
font-family:  'Nanum Pen Script', cursive; font-size: 20px; background-color: rgba(3, 76, 3, 0.905); border-radius: 25px; box-shadow: 5px 5px 10px rgba(0,0,0,.3); transition: .3s; animation: wiggle 1.5s linear infinite;}
.popup_btn:hover {background-color: rgba(3, 76, 3, 0.716);}
.food_box {width: 900px; height: 300px; margin-left: 100px; position: relative;
margin-bottom: 100px;}
.food_box img {width: 300px; height: 300px; object-fit: cover; position: relative;}
.food_box img:hover {transform: scale(1.05); transition: .5s;}
.food_box p {position: absolute; left: 330px; top: 35px;
color: #912613;}







@keyframes wiggle {
    0% {transform: translateX(-2px);}
    10% {transform: translateX(0);}
    20% {transform: translateX(-2px);}
    30% {transform: translateX(0);}
}




h1, h2 {
	font-family: 'Nanum Pen Script', cursive;
	font-weight: 300;
	margin:0 0 15px 0;
	margin-bottom: 15px;
}


h1 {
	font-size: 40px;
	letter-spacing: -1px;
	line-height: 100%;
}


h2 {
	font-size: 24px;
}


p {
	margin: 0 0 15px 0;
	font-size: 26px;
}

a {
	color: #3e3e3e;
}



.clear {
	clear: both;
}
.wrap {
	width: 100%;
	max-width: 1600px;
	min-width: 960px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0;
}





.section {
	width: 100%;
	max-width: 1600px;
	min-width: 960px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0 0 20px 0;
	height: 800px;
}








.inner {
	width: 960px;
	margin: 0 auto;
	position: relative;
	min-height: 50px;
	padding:30px 0;
	font-size: 18px;
	font-family: 'Nanum Pen Script', cursive;
	font-weight: 300;
	
}

.inner h1 {text-align: center; margin-bottom: 30px;}
.inner p {text-align: center;}

.inner:after {
	  content: "";
	  display: table;
	  clear: both;
}


.subMenu {
	height: 50px;
	z-index: 1000;
	width: 100%;
	background: #912613;

}

.subMenu .inner {
	padding:0;
	font-weight: 400;
	margin: 0 auto;
	
}


.subNavBtn {
	display: block;
	height: 35px;
	width: 10%;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 14px;
	padding: 15px 2% 0 2%;
	text-align: center;
	
	color: #fff;
}
.subMenu a:hover {
	background: #fab5a92f;
}

.active {
	background: #fab5a92f;
	;
}
.end {
	margin: 0;
}




/* SECTIONS */
.sTop {
	min-height: 130px;
	background:#fff;
	color:#3d3d3d;
	padding: 50px 0;
	height: 500px;
}



.s1 {
	background:#faac031a;
	color: rgb(5, 9, 61);
	padding: 0;
	height: 810px;
	padding-top: 20px;
	box-sizing: border-box;
}


.s2 {
	background: #faac031a;
	padding-top: 30px;
	box-sizing: border-box;
}

.s2 a {
	color: #fff;
}


.trip_t {padding: 8px 8px; height: 300px; overflow-y: auto; box-sizing: border-box;}
.trip_i img {width: 100%; height: 100%;}
.trip_i {width: 100%; height: 300px;}
/* 스크롤 */
.trip_t.scroll::-webkit-scrollbar {width: 10px; height: 10px;}
.trip_t.scroll::-webkit-scrollbar-thumb {background-color: #d81f26; border-radius: 5px;}
.trip_t.scroll::-webkit-scrollbar-track {background-color: rgba(3, 91, 19, 0.608); border-radius: 5px;}

.trip {width: 300px; height: 600px; float: left; margin-right: 20px; background-color: rgba(255, 217, 0, 0.712);}
.trip2 {width: 300px; height: 600px; float: left; margin-right: 20px; background-color: rgba(255, 217, 0, 0.712);}
.trip3 {width: 300px; height: 600px; float: left;background-color: rgba(255, 217, 0, 0.712);}




.s3 {
	background-color: #faac031a;
	height: 2150px;
}


 .s4 {
	background: #faac031a;
	height: 300px;
}

.s4 a {display: block; width: 800px; height: 100px;
	   margin-left: 60px; color: #912613;
	transition: .2s;}
.s4 a:hover {color: #9126133f;}   
.s4 p {font-size: 30px; margin-top: 30px;}




